* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 10px 5px;
  background-color: navy;
  color: white;
  top: 0;
  gap: 5px;
}

nav > img,
nav > a > img {
  width: 30px;
  fill: white;
}

nav > a {
  color: white;
}

nav > a:nth-child(2) {
  flex-grow: 2;
}

a {
  color: black;
  text-decoration: none;
}

#container > div:last-child {
  margin: 20px 0;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 100vw;
  animation: openMenu 200ms;
}

@keyframes openMenu {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.menu > a > button {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: auto;
  background: none;
  padding: 15px;
  font-size: 1rem;
}

.menu > a:active {
  background-color: navy;
}

.menu > a > button:active {
  color: white;
}

.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: auto;
}

.shop > a > img {
  width: 40vw;
}

.product {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product > h1 {
  font-size: 1.5rem;
}

.product > img {
  width: 100%;
  max-width: 250px;
}

.product > a {
  text-align: center;
  width: 100%;
  color: white;
  background-color: navy;
  padding: 10px 0;
  font-size: 1rem;
}

.product-increase {
  background-color: navy;
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
}

.product-increase > button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
}

.shopping-cart {
  width: 95%;
  margin: auto;
}

.shopping-cart > div {
  display: flex;
}

.cart-image {
  width: 20%;

  img {
    width: 100%;
  }
}

.shopping-cart > div > img:last-child {
  width: 25px;
}

.shopping-cart > div > h3 {
  font-size: 0.8rem;
}

.shopping-cart > div > p {
  justify-self: center;
  font-size: 0.8rem;
}
*/ .empty-cart {
  text-align: center;
}
